/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background: #fff;
}
header{
    background: #FAFAFA;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 20;
}
a{
    box-sizing: border-box;
    width:25%;
    display: inline-block;
    margin-left: -3px;
    text-align: center;
    padding: 12px;
}
a .fas{
    color: #111;
    font-size: 20px;
}
a .fas.fa-heart:hover{
    color:red;
}
.container{
    padding-top: 50px;
    position: absolute;
    top: 50px;
    bottom: 0;
    height: 100%;
    width: 100%;
}
.container .card{
    border: 1px solid #ccc;
    background: #fff;
    margin: 0 auto;
    width: 500px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
}
.card-header{
    padding: 15px;
}
.card-header .profile-img{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    top: 5px;
    margin-right: 5px;
}
.card-header .profile-img img{
    height:30px;
    border-radius: 50%;
}
.card-header .profile-info{
    display: inline-block;

}
.card-header .profile-info .location{
   font-size: 12px;
   color: #111;
}
.card-header .profile-info .name{
    font-size: 14px;
    color: #111;
    font-weight: 700;
 }
.card-header .time{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    float: right;
    top: 10px;
    position:relative;
}
.card .content img{
    width: 100%;
}
.card .card-footer{
    padding: 15px;
}
.card .card-footer p{
    margin: 0;
    font-size: 14px;
    padding: 0 0 5px 0;
}
.card .card-footer .description p span{
    font-weight: 700;
}
.card .card-footer .likes{
    color: #111;
    font-size: 12px;
    padding-bottom: 15px;
}
.card .footer .comments p {
    margin: 0;
    font-size: 14px;
    padding: 0 0 5px 0;
}
.card .card-footer .comments p span{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.card form .heart{
    display: inline-block;
    width:7%;
}
.card form .add-comment{
    display: inline-block;
    width:60%;
}
.card form .add-comment input{
    width: 100%;
    padding: 5px;
    font-weight: 16px;
    border: 0px solid #fff;
}
.card form .options{
    display: inline-block;
    width:7%;
    float:right;
}
form{
    padding-top:15px;
}
hr{
    padding: 0;
}
form .fas{
    font-size: 24px;
    position: relative;
    top: 3px;
}